---
layout: default
title: Blog
---

    {% for post in site.posts limit: 15 %}
      <div class="post">
      {% capture post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
      {% if post_date != prev_post_date %}
        <div align="right" style="float: right" class="date-container">{{ post.date | date:"%e.%m.%Y" | upcase }}</div>
      {% endif %}
      {% capture prev_post_date %}{{ post.date | date: "%Y%m%d" }}{% endcapture %}
      	<h3>
          <span>
            <a href="{{ post.url }}"
                 title="Link to '{{post.title }}'">{{ post.title }}</a>
          </span>
      	</h3>
        <blockquote>
        <p>
        {{ post.content }}
        </p>
        <!--<span class="author">{{ post.author }}</span>-->
        <small>{{ post.author }}
        {% if post.www %}
        <a href="http://{{ post.www }}"><span class="glyphicon glyphicon-globe"></span></a>
        {% endif %}
        </small>

      </blockquote>
      </div>
      {% if forloop.last == false %}
      {% endif %}
    {% endfor %}
