<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compromise
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20081103

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - polyhedral.info </title>
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
	<div id="header">
		<div id="logo">
			<h1><a href="/">polyhedral.info</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="first"><a href="/">Home</a></li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/software.html">Software</a></li>
			<li><a href="/publications.html">Publications</a></li>
			<li><a href="/conferences.html">Conferences</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
<div id="wrapper">
	<div id="page">
		<div id="content">
			{{ content }}
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>

					<h2>Recent Posts</h2>

<ul>
{% for post in site.posts limit: 7 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
					<h2>Contribute</h2>

					<p> This webpage is maintained by the
					Polyhedral Community. To contribute, get its source
					code from our <a
					href="https://github.com/tobig/polyhedral.info">git
					repository</a>, modify it and send a pull request.

				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
		<p>Copyright (c) 2008 polyhedral.info. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. Distributed by <a href="http://www.templatesrule.com/" title="Flash Portfolio Templates">Flash Templates</a></p>
	</div>
	<!-- end #footer -->
</body>
</html>
