<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compromise
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20081103

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - polyhedral.info </title>
<link href="../style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" href="/favicon.ico" />
<link type="application/atom+xml" rel="alternate" href="/atom.xml"/>
<link type="application/rss+xml" rel="alternate" href="/rss.xml" />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bibtex_js.js"></script>

</head>
<body>
<textarea id="bibtex_input" style="display:none;">
@article{Bondhugula08,
 author = {Bondhugula, Uday and Hartono, Albert and Ramanujam, J. and Sadayappan, P.},
 title = {A practical automatic polyhedral parallelizer and locality optimizer},
 journal = {SIGPLAN Not.},
 issue_date = {June 2008},
 volume = {43},
 issue = {6},
 month = {June},
 year = {2008},
 issn = {0362-1340},
 pages = {101--113},
 numpages = {13},
 url = {http://doi.acm.org/10.1145/1379022.1375595},
 doi = {http://doi.acm.org/10.1145/1379022.1375595},
 acmid = {1375595},
 publisher = {ACM},
 address = {New York, NY, USA},
 keywords = {affine transformations, automatic parallelization, locality optimization, loop transformations, polyhedral model, tiling},
}
</textarea>
<div class="bibtex_template">
<div class="if author" style="font-weight: bold;">
  <span class="if year">
    <span class="year"></span>, 
  </span>
  <span class="author"></span>
  <span class="if url" style="margin-left: 20px">
    <a class="url" style="color:black; font-size:10px">(view online)</a>
  </span>
</div>
<div style="margin-left: 10px; margin-bottom:5px;">
  <span class="title"></span>
</div>
</div>
	<div id="header">
		<div id="logo">
			<h1><a href="/">polyhedral.info</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="first"><a href="/">Home</a></li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/software.html">Software</a></li>
			<li><a href="/publications.html">Publications</a></li>
			<li><a href="/conferences.html">Conferences</a></li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
<div id="wrapper">
	<div id="page">
		<div id="content">
			{{ content }}
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>

					<h2>Recent Posts</h2>

<ul>
{% for post in site.posts limit: 7 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

					<h2>Contribute</h2>

					<p>You are invited to <a href="/contribute.html">contribute</a> to this website.</p>

					<h2>Feeds</h2>
					Keep track of new posts with our <a href="/atom.xml">ATOM</a> or
					<a href="/rss.xml">RSS</a> feeds.
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
	<div id="footer">
	<p>
	This <span xmlns:dct="http://purl.org/dc/terms/"
	href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is
	licensed under a <a rel="license"
	href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
	Attribution 3.0 Unported License</a>. Copyright 2012 Tobias Grosser and contributors.  <br />	 Design by <a
	href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
	Distributed by <a href="http://www.templatesrule.com/" title="Flash
	Portfolio Templates">Flash Templates</a></p>
	</div>
	<!-- end #footer -->
</body>
</html>
