<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Compromise
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20081103

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }} - polyhedral.info </title>
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/style.css" rel="stylesheet" type="text/css" media="print" />
<link rel="shortcut icon" href="/favicon.ico" />
<link type="application/atom+xml" rel="alternate" href="/atom.xml"/>
<link type="application/rss+xml" rel="alternate" href="/rss.xml" />

<link href="/bootstrap/css/yeti/bootstrap.css" rel="stylesheet">
<link href="/bootstrap/css/navbar-fixed-top.css" rel="stylesheet" />
<link href="/bootstrap/css/jumbotron.css" rel="stylesheet" />
<link href="/bootstrap/css/offcanvas.css" rel="stylesheet" />

<script type="text/javascript" src="/bootstrap/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/bibtex_js.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>

<!-- Make stuff "fade in" -->
<style>
  .toggler { width: 500px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect {position: relative;  width: 240px;  padding: 1em; letter-spacing: 0; font-size: 1.2em; border: 1px solid #000; background: #eee; color: #333; }
  .fadeable { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.6em; }
</style>
<script>
$(function() {
  $( "#button" ).click(function() {
    $( "#effect" ).toggleClass( "fadeable", 1000 );
    return false;
  });
});
</script>
<!-- END Make stuff "fade in" -->

<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
<body>
<textarea id="bibtex_input" style="display:none;">
</textarea>
<div class="bibtex_template" style="padding: 0.5em">
<div >
  <a class="id"></a><span class="title" style="font-weight: bold;" ></span>
  <br />
  <span class="author"></span>
  <br />
  <span class="if bibtex" style="margin-left: 10px">
    <a class='popup' style="font-size:0.8em">(bibtex)
      <span class="bibtex"></span>
    </a>
  </span>
  <span class="if abstract">
    <a class='popup' style="font-size:0.8em">(abstract)
      <span class="abstract"></span>
    </a>
  </span>
  <span class="if url">
    <a class="url" style="font-size: 0.8em; text-decoration: none">(view online)</a>
  </span>
</div>
</div>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="./">Polyhedral.info</a>
            </div>
            <nav class="collapse navbar-collapse" roles="navigation">
              <ul class="nav navbar-nav">
                      <li><a href="/blog.html">Blog</a></li>
                      <li><a href="/software.html">Software</a></li>
                      <li><a href="/publications.html">Publications</a></li>
                      <li><a href="/events.html">Events</a></li>
                      <li><a href="/contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
	</div>
	<!-- end #menu -->

	<div class="jumbotron" style="background:url('/images/tiling.png')">
                  <h1>
		    <a id="logo" href="/">Polyhedral.info</a>
                  </h1>
	</div>
	<!-- end #header -->
  <div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
	<div class="col-4 col-xs-6 col-sm-4 sidebar-offcanvas" role="navigation">
          <div class="list-group">
              <div class="list-group-item">
                <h2 class="list-group-item-heading">Recent Posts</h2>
                <p class="list-group-item-text">
                <ul>
                {% for post in site.posts limit: 7 %}
                      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
                </p>
                <p class="list-group-item-text">
                Subscribe: <a href="/atom.xml">ATOM</a> or <a href="/rss.xml">RSS</a>
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="list-group-item-heading">Contribute</h2>
                <p class="list-group-item-text">Learn how to <a href="/contribute.html">participate</a>.</p>
              </div>
          </div>
	</div>
	<!-- end #sidebar -->

	<div class="col-8 col-xs-6 col-sm-8">
			{{ content }}
		<div id="bibtex_display_citations">
		</div>
		<!-- end #content -->
	</div>
	<!-- end #page -->
      </div>
  </div>
</body>
</html>
